﻿@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/blank-image.png";

}
<h2>Create Product</h2>
<form method="post" id="CreateProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select type="text" class="form-control" name="categoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option type="text" value="@category.ID">@category.Name</option>
                    }
                </select>
                </div>
            <div class="form-group">
                <lable>Name</lable>
                <input class="form-control" type="text" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" name="Description" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" name="Price" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
            </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
        </div>
    
</form>
<script type="text/javascript">
    $("#saveBtn").click(function () {
        debugger
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Product")',
            data: $("#CreateProduct").serialize()
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html('');
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            swal({
                title: "Warning",
                text: "Please enter all required fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        });
    });
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
    $('#CreateProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 4,
                maxlenght: 50,
            },
            Description: {
                maxlenght: 500
            },
            Price: {
                range:[1,100000]
            }

        },
        messages: {
        Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 4',
                maxlength: 'Maximum Length is 50'
        },
        Description: {
                maxlength: 'Maximum Length is 500'
        },
        Price: {
                range: 'Price must be within range of 1 - 100000.'
        }
    }
        
    });
    </script>