﻿@model ProductSearchViewModel
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Products
                    </h2>
                </div>
            </div>
        </div>
        <div>
            <div>
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Search</label>
                                <input type="Search" class="form-control" id="searchTxt" aria-describedby="searchTxt" value="@Model.SearchTerm" placeholder="Enter Product Name To Search" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Action</label>
                                <div class="row"></div>
                                <button id="searchBtn" type="button">Search</button>
                                <button id="resetBtn" type="button">Reset</button>
                                <button id="newBtn" type="button">New</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <p class="showing-product float-right">
                    Showing @((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Products
                </p>
                <table id="table_id" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">Product Name</th>
                            <th class="font-weight-bold">Category</th>
                            <th class="font-weight-bold">Price</th>
                            <th class="font-weight-bold wrap-td">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                                <tr>
                                    <td>@product.Name</td>
                                    <td>
                                        @if (product.Category != null)
                    {
                                        <text>@product.Category.Name</text>
                                    }
                                    else
                                    {
                                        <text>-</text>
                                    }
                                </td>
                                <td>@product.Price</td>
                                <td class="wrap-td">
                                    <button class="editBtn" data-id="@product.ID">Edit</button>
                                    <button class="deleteBtn" data-id="@product.ID">Delete</button>
                                    <button class="addtoCart" data-id="@product.ID">Add To Cart</button>
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-danger" colspan="4">No Products found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                {
                    <div class="product-pagination text-center clearfix">
                        <ul class="flat-pagination">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="prev">
                                    <a href="@Url.Action("Index", "Product", new { pageNo = Model.Pager.CurrentPage - 1})"><i class="fa fa-angle-left"></i></a>
                                </li>}

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                                <li class="@activeClass"><a href="@Url.Action("Index", "Product", new { pageNo = page })">@page</a></li>}

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li><a href="@Url.Action("Index", "Product", new { pageNo = Model.Pager.CurrentPage + 1})"><i class="fa fa-angle-right"></i></a></li>}
                        </ul><!-- /.flat-pagination -->
                    </div>
                }
                <div>
                    @*@if (Model.PageNo != 1)
                    {
                        <button class="pageButtons" data-pageNo="@(Model.PageNo-1)">Previous</button>
                    }
                    @if (Model.Products != null && Model.Products.Count > 0)
                    {
                        <button class="pageButtons" data-pageNo="@(Model.PageNo + 1)">Next</button>
                    }*@
                </div>
            </div>
            <hr />
        </div>


</section>
<script type="text/javascript">

    $(".pageButtons").click(function ()
    {
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',
            data: {
                pageNo: $(this).attr("data-pageNo")
            }

               })
            .done(function (response) {
            $("#tableContainer").html(response);
        })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        })
    });
    $("#resetBtn").click(function () {
        $("#searchTxt").val("");
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',

        })
        .done(function (response) {
            $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");

        })
    });
    $("#searchBtn").click(function () {
        var searchvalue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',
            data: {
                search: searchvalue
            }
        })
        .done(function (response) {
            $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");

        })
    });
    $("#newBtn").click(function () {
        debugger
        $.ajax({
            url: '@Url.Action("Create", "Product")'

        })
        .done(function (response)
        {
            debugger
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        })
    });
    $(".editBtn").click(function () {
        debugger
        $.ajax({
            url: '@Url.Action("Edit", "Product")',
            data: {
                ID: $(this).attr("data-id")
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("edit response failed");

        });
    });
    var products = [];
    $(".addtoCart").click(function () {
        var productID = $(this).attr('data-id');
        products.push(productID);
        $.cookie('CartProducts', products.join('-'), { path: '/' });

    });

    $(".deleteBtn").click(function () {

        swal({
            title: "Confirm?",
            text: "Are you sure you want to delete this product?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
		.then((willDelete) => {
		    if (willDelete) {
		        $.ajax({
		            type: 'POST',
		            url: '@Url.Action("Delete", "Product")',
		            data: {
		                ID: $(this).attr('data-id')
		            }
		        })
				.done(function (response) {

				    $("#tableContiner").html(response);

				    swal("Record deleted Successfully.",
                        {
                            icon: "success",
                        });
				    
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				    alert("FAIL");
				});

		    }
		})
    });

</script>