﻿@model ClothBazar.Web.ViewModels.CategorySearchViewModel
@{
    ViewBag.Title = "CategoryTable";
}
<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input type="Search" class="form-control" id="searchTxt" aria-describedby="searchTxt" placeholder="Enter Category Name To Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row"></div>
                    <button id="searchBtn" type="button">Search</button>
                    <button id="newBtn" type="button">New</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Category Name</th>
                <th class="font-weight-bold">Product Count</th>
                <th class="font-weight-bold wrap-th">Actions</th>
            </tr>
        </thead>
        <tbody>
         @if (Model.Categories != null && Model.Categories.Count > 0)
         {
            foreach (var category in Model.Categories)
            {


                <tr>
                    <td>@category.Name</td>
                    <td>
                        @category.Products.Count
                    <td>
                        <button class="editBtn" data-id="@category.ID">Edit</button>
                        <button class="deleteBtn" data-id="@category.ID">Delete</button>
                    </td>
                </tr>

            }
         }

        </tbody>
    </table>
    <div>
        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {

            if (Model.Pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageno="1">First</button>
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>}

            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <button class="@activeClass pageButtons" data-pageno="@page">@page</button>}

            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
                <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>}
        }
    </div>
</div>

<hr>
<script type="text/javascript">
    $("#searchBtn").click(function () {
        var searchvalue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")',
            data: {
                Search: searchvalue
                   }
                })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#searchTxt").val(searchvalue);
            })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");

              })
    });
    $("#newBtn").click(function () {
        debugger
        $.ajax({
            url: '@Url.Action("Create", "Category")',

        })
        .done(function (response)
        {
            debugger
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        })
    });
    $(".editBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Category")',
            data: {
                ID: $(this).attr("data-id")
            }

        })
        .done(function (response) {
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");

        })
    });
   $(".deleteBtn").click(function () {

        swal({
            title: "Confirm?",
            text: "Are you sure you want to delete this product?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
		.then((willDelete) => {
		    if (willDelete) {
		        $.ajax({
		            type: 'POST',
		            url: '@Url.Action("Delete", "Category")',
		            data: {
		                ID: $(this).attr('data-id')
		            }
		        })
				.done(function (response) {
				    $("#tableContiner").html(response);

				    swal("Record deleted Successfully.",
                        {
                            icon: "success",
                        });
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				    alert("FAIL");
				});

		    }
		})
   });
	$(".pageButtons").click(function () {
		$.ajax({
			url: '@Url.Action("CategoryTable", "Category")',
			data: {
				pageNo: $(this).attr("data-pageNo"),
				search: '@Model.SearchTerm'
			}
		})
        .done(function (response) {
        	$("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
</script>



