﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/blank-image.png";
}
<h2>Create Category</h2>


<form id="createCategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <div class="form-group">
                <label>Is Featured?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="True" /> True</label>
                    </div>
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="False" /> False</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
            </div>
        </div>
    </div>

    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>
<script>
    $("#imageUpload").change(function ()
    {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0 ; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append('Photo', file);
        }
        $.ajax
            ({
                type: 'POST',
                url: '@Url.Action("UploadImage","Shared")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#categoryImage").attr("src", response.ImageURL);
                $("#ImageURL").val(response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
        
    });
 
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
    $("#saveBtn").click(function () {
        debugger;
        
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Category")',
                data: $("#createCategory").serialize()
            })
			.done(function (response) {
			    $("#tableContiner").html(response);
			    $("#actionContainer").html("");
			    focusAction("tableContiner");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
			    swal({
			        title: "Warning",
			        text: "Please enter all required fields.",
			        icon: "warning",
			        buttons: true,
			        dangerMode: true,
			    });
			});
      
    });
    $('#createCategory').validate({
        rules: {
            Name:{ 
                required: true,
                minlength: 5,
                maxlenght: 50,
            },
            Description:{
                maxlenght:500
            }
        },
        messages:{
        Name:{
                    required: 'Enter a name',
                    minlength: 'minimum lenght will be 5',
                    maxlenght: 'maxlenght will be 50'
        },
            Description:{
                maxlength: 'Maximum length will me 500'
            }
        }
    });
</script>