﻿@model ClothBazar.Entites.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this Category ?</h3>
<form method="post">
    <label>@Model.ID</label><br/>
    <label>@Model.Name</label><br/>
    <label>@Model.Description</label>
    <button type="submit">Yes Delete</button>

</form>
<a href="~/Views/Category/Index.cshtml">Cancel</a>