﻿@model ClothBazar.Entites.Category
@{
    ViewBag.Title = "Edit";
    var trueFeature = Model.IsFeatured ? "checked" : string.Empty;
    var falseFeature = !Model.IsFeatured ? "checked" : string.Empty;
    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/blank-image.png";

}

<h2>Edit</h2>

<form id="editCategory">
    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" value="@Model.ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <div class="form-group">
                <label>Is Featured?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="True" @trueFeature /> True</label>
                    </div>
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="False" @falseFeature /> False</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageURL" class="img-thumbnail img-fluid" id="categoryImage" />
            </div>
        </div>
    </div>

    <button id="updateBtn" type="button" class="btn btn-primary">Update</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>
<script>
    $("#imageUpload").change(function ()
    {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0 ; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append('Photo', file);
        }
        $.ajax
            ({
                type: 'POST',
                url: '@Url.Action("UploadImage","Shared")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#categoryImage").attr("src", response.ImageURL);
                $("#ImageURL").val(response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
    $("#updateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Category")',
            data: $("#editCategory").serialize()
        })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
    $('#editCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength:4,
                maxlength: 50,
            },
            Description: {
                maxlength: 500
            },
            Price: {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 4',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum Length is 500'
            },
            Price: {
                range: 'Price must be within range of 1 - 100000.'
            }
        }
    });
</script>